<h1>Add product</h1>
<form action="/" method="post">
    Title: <input type="text" name="title" />
    Price: <input type="number" name="price" />
    Thumbnail: <input type="text" name="thumbnail" />
    <input type="submit" value="sumbit" />
</form>
<br>
    <a href="/products"><button>Products</button></a>